body{
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width:1100px){
main{
    width: 75%;
    margin: auto;
}
}

header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex !important;
    flex-direction:row;
    height: 70rem;
}

nav{
    width: 28%;
    height: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
    border-left: 1px solid yellow !important;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 72rem;
}

.nav{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
    font-size: 1.8rem !important;
}

.nav > li > a {
    padding-top: 2.5rem !important;
}

@media (max-width: 767px){
.menu-icon-animated{
    display: none;
}
}

.navbar-toggle{
    margin-right: 0 !important;
}

.slogan{
    width: 72%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.58rem;
    word-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan > p {
    margin: 0;
}

article{
    display: grid !important;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "a b c"
                        "d d d";
    font-family: 'Julius Sans One', sans-serif;
}

.img-one{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-two{
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    grid-area: b;
    text-align: center;
}

.cont-about{
    grid-area: d;
    padding: 2rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.leaves{
    width:70%;
    height: 70%;
    margin-top: 2rem;
}




















